body{
    font-family: 'Ibarra Real Nova', serif !important;
}

.top-banner{
    height: 100vh;
    max-height: 900px;
    background: url(../images/main.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 750px;
    overflow: hidden;
    background-color: rgba(40, 39, 39, 0.683);
    background-blend-mode: soft-light;
}

/* nav area style */
.nav{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgba(142, 141, 141, 0.676) !important;
    margin: 0;
    padding: 0 20px 0 20px;
    padding-left: 10px !important;
    display: flex;
}
.nav-hover:hover{
    color: rgb(237, 185, 13) !important; 
}

.logo img{
    width: 100px;
    height: 100px;
}
.logo a{
    text-decoration: none;
    color: rgb(237, 185, 13) !important;
    font-weight: 700;
    font-size: 28px;
}

  
.home-text{
    color: white;
    margin-top: 150px;
}
.home-text h1{
    font-size: 95px;
    margin-left: 460px;
    font-weight: 800;
}
.home-text h3{
    font-size: 50px;
    margin-left: 300px;
}

span{
    color: rgb(206, 158, 0);
    font-size: 80px;
}

 /* animation */
.animate-character
{
   
  background-image: linear-gradient(
    -225deg,
    #fac30c 0%,
    #eceff4 29%,
    #f1b611 67%,
    #d1d1d1b8 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.food-btn{
    margin-left: 545px;
    padding: 9px 40px;
    border: 3px solid rgb(237, 185, 13);
    border-radius: 6px;
    color: rgb(237, 185, 13);
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
}
.food-btn:hover{
    background-color: rgb(247, 177, 12);
    color: white;
}


/* about us */

.about-us{
    background-color: rgb(44, 45, 46);
    
}
.about-img img{
   width: 100%;
}

.about-text{
    color: white;
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 120px;
}
.about-text h1{
    font-size: 50px;
    padding-bottom: 25px;
}
.about-text p{
    line-height: 30px;
    letter-spacing: 1px;
    
}

/* menu area */
.menu-text{
    background-color: rgb(44, 45, 46);
    text-align: center;
    
}
.menu-text .animate-character{
    padding: 80px 0;
    font-weight: 500;
    font-size: 80px;
    font-family: 'DM Serif Display', serif;
}
.menu-images img{
    width: 100%;
    height: 100%;
    
}
.menu-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    margin: 0;
    padding: 0;
}
.booking-container{
    margin-left: 0px;
    margin-right: 0px;
     height: 100vh;
      max-height: 500px;
      background: url(../images/book-table-img.jpg) no-repeat center center fixed;
      background-size: cover;
      min-height: 400px;
      overflow: hidden;
      background-color: rgba(40, 39, 39, 0.683);
      background-blend-mode: soft-light;
}
.book-table h1{
        text-align: center;
        color: white;
        padding-top: 60px;
        font-size: 60px;
        font-weight: 600;
}

/* book input */

.book-input{
    display: flex;
    justify-content: space-evenly;
}
.book-in{
    margin-top: 45px;
    padding: 20px 60px;
    background: none;
    color: white ;
    border: 2px solid white; 
}
::placeholder{
    color: white;
    font-size: 22px;
}
.book-in:focus{
    outline-style: none;
    box-shadow: none;
    color: rgb(202, 137, 15);
    border: 2px solid rgb(202, 137, 15);
}

.table-btn{
    margin-top: 40px;
    margin-left: 530px;
    padding: 7px 38px;
    border: 2px solid rgb(206, 158, 0);
    border-radius: 6px;
    color: floralwhite;
    background-color: rgb(206, 158, 0);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.table-btn:hover{
    border: 2px solid rgb(206, 158, 0);
    color: rgb(206, 158, 0);
    background-color: transparent;
}

/* food event area */
.food-event{
    background-color: rgb(44, 45, 46);
    width: 100%;
    height: 1800px;
}

.event-header h1{
    text-align: center;
    color: white;
    padding-top: 80px;
    font-size: 65px;
    font-weight: 600;
}

.juice-btn{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 550px;
    padding: 7px 46px;
    border: 2px solid rgb(238, 185, 14);
    border-radius: 6px;
    color: rgb(238, 185, 14);
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    /* margin-bottom: 60px; */
}

.juice-btn:hover{
    border: 2px solid rgb(238, 185, 14);
    color: white;
    background-color: rgb(238, 185, 14);
}

/* card area  */
.card-group{
    display: flex;
    justify-content: space-around;
}
.card img{
    width: 100%;
}
.card{
    margin: 0 30px;
    height: 470px;
    background-color: rgb(44, 45, 46) !important;
    border: 1px solid rgb(82, 81, 81) !important;
    color: white;
    border-radius: 2px;
}

.card-btn{
    margin-top: 20px;
    margin-left: 14px;
    padding: 4px 30px;
    border: 2px solid rgb(238, 185, 14);
    border-radius: 6px;
    color: white;
    background-color: rgb(238, 185, 14);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.card-btn:hover{
    border: 2px solid rgb(238, 185, 14);
    color: rgb(238, 185, 14);
    background-color: transparent;
}

/* find us area  */

.find-us-container{
    margin-top: 200px;
    display: flex;
    width: 100%;
    height: 451px;
    border-bottom: 1px solid rgb(71, 71, 71);
    border-top: 1px solid rgb(71, 71, 71);
}

.find-us-header h1{
    color: white;
    padding-left: 100px;
    margin-right: 100px !important;
    padding-top: 40px;
}
.find-us-header p{
    color: white;
    padding-left: 100px;
}
.fa-solid{
    padding-right: 30px;
    color: rgb(175, 171, 171);
}
.location-area{
    display: flex;
    padding-left: 100px;
    color: rgb(175, 171, 171);
    font-size: 20px;
}

.contact-container{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    ;
}
.contact-content p{
    color: rgb(175, 171, 171);
    font-size: 20px;
}

/* footer */

footer p{
    border-top:1px solid rgb(71, 71, 71);
    background-color: rgb(44, 45, 46);
    text-align: center;
    color: rgb(198, 196, 196);
    margin: 0;
    padding-bottom: 8px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 200;
}

/* end  */